#head {
    background-color: blue;
    text-align: initial;
    padding-left: 12;
    margin-top: -4%;
    margin-left: -12;
    font-family:Bradley Hand, cursive;
    padding: 0px;
    font-size: 46px;
    color: white;

}

#boite_id {
    background-color: darkgray;
    width: 30%;
    padding: 30;
    text-align: center;
    position: fixed;
    right: 60;
    top: 28%;
    border-radius: 148px 3px 148px 5px;
    font-family: Courier, monospace;
    font-weight: bold;
}




#text{
    color: white;
    position: fixed;
    top: 35%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: x-large;
    background-color: gray;
    border-radius: 30px 0px 30px 0px;
    padding: 16px;
}

#message{
    position: fixed;
    margin-left: 194px;
    border-radius: 110px;
}


#message:hover{
    position: fixed;
    margin-top: 10px;
    

}

#envoie{
    position: fixed;
    margin-top: 197px;
    border-radius: 110px;
}

#envoie:hover{
    position: fixed;
    margin-left: 50px;

}

#b_recep{
    position: fixed;
    margin-left: 392px;
    margin-top: 197px;
    border-radius: 110px;
    background-color: white;
}

#b_recep:hover{
    position: fixed;
    background-color: blue;
}




 #menu_icone{
    position: fixed;
    padding-left: 90%;
 }

 #welcom_text{
    position: fixed;
    margin-left: 55%;
    margin-top: 13%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 #boite{
    text-align: center;
    margin-left: auto;
    margin-right: 5%;
    margin-top: 6%;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 40px;
    width: 22%;
    padding: 2%;
    font-weight: bold;
   
   } 
#boiterecep{
   text-align: center;
   margin-left: auto;
   margin-right: 5%;
   margin-top: 6%;
   background-color: rgba(0, 0, 0, .4);
   border-radius: 40px;
   width: 22%;
   padding: 12px;
   
   

}
    
#exp:hover{
   background-color: azure;
}

 #title{
    padding: 1.2%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    font-weight: bold;
 }

 #dest{
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 #message_text{
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 #send{
    padding: 20px;
    
 }
 #write{
    border-radius: 15px;
 }
 #enterDest{
    border-radius: 2px;
 }
 input:invalid + span:after {
    position: absolute;
    content: '✖';
    padding-left: 5px;
  }
  input:valid + span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
  }

  textarea:invalid + span:after {
    position: absolute;
    content: '✖';
    padding-left: 5px;
  }
  textarea:valid + span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
  }