
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Messages</title>
    <link rel="stylesheet" href="/home/n_kratos/send_messages/static/css/style.css">

</head>
<body id="body_acc">
    <header id="head">
        <h3> Krt_Send </h3>
    </header>
    <div>
        <div>
            <p >
                <h1 id="welcom_text"> Welcome to my site!! </h1>
            </p>
            <div id="menu_icone">
                <a href="#"> 
                    <nav>
                        <img src="/home/n_kratos/send_messages/static/images/menu.png"  alt="menu" width="35px" height="32px">
                    </nav>
                </a>

            </div>
        </div>
    </div>

    <div>
        <div>
            <nav>
                
                <a href="">
                    <img src="/home/n_kratos/send_messages/static/images/ecrire.jpg" id="message" alt="ecrire" width="257px"  height="216px">
                </a>           
            </nav>
        </div>
        <div>
            <a href="#"><img src="/home/n_kratos/send_messages/static/images/envoye.jpg" id="envoie" alt="envoie" width="257px"  height="216px" ></a>
            <a href="#"><img src="/home/n_kratos/send_messages/static/images/inbox-icon-8.png" id="b_recep" alt="boite de reception" width="257px" height="216px" ></a>
        </div>
    </div>

    


</body>
</html>