
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Messages</title>
    <link href="{{ url_for('public', path='/css/style.css') }}" rel="stylesheet">
    {% block js %}<script  src="{{ url_for('public', path='/js/mainacc.js') }}"></script>{% endblock %}
    <style>
         #body_acc{
                    background-image: url("{{ url_for('public', path='/images/back2.jpeg') }}");
         }
         #login{
            position: fixed;
            margin-left: 95%;
            margin-top: -15vh;
         }
    </style>

</head>
 
<body id="body_acc">

    <header id="head">
        <h3> Krt_Send </h3>
        <span><a href="http://0.0.0.0:1600/"><img id="login" src="{{ url_for('public', path='/images/login.png') }}" width="30px" alt="login"></a></span>
    </header>
    <div>
        <div>
            <p >
                <h1 id="welcom_text"> {% block welcom %} Welcome to my site!! {% endblock %}</h1>
                <div id="resultat"><span id="somme"></span></div id="resultat">
            </p>
            
        </div>
    </div>

    <div>
        <div>
            <nav>
                <script>
                   var user_name = username;
                </script>
                
                <a href="http://0.0.0.0:1600/menu/new_message">
                    <img src="{{ url_for('public', path='/images/ecrire.jpg') }}" id="message" alt="ecrire" width="257px"  height="216px">
                </a>           
            </nav>
        </div>
        <div>
            <a href="#"><img src="{{ url_for('public', path='/images/envoye.jpg') }}" id="envoie" alt="envoie" width="257px"  height="216px" ></a>
            <a href="http://0.0.0.0:1600/menu/reception"
            onclick="location.href=this.href+'?username='+user_name ;return false">
            <img src="{{ url_for('public', path='/images/inbox-icon-8.png') }}" id="b_recep" alt="boite de reception" width="257px" height="216px" ></a>
        </div>
    </div>

    
    {% block body %}{% endblock %}

</body>

</html>