
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Messages</title>
    <script  src="{{ url_for('public', path='/js/back.js') }}"></script>
    <link href="{{ url_for('public', path='/css/style.css') }}" rel="stylesheet">
    <style>
        body{
            background-image: url("{{ url_for('public', path='/images/back.jpg') }}");
        }
    </style>
    

</head>
<body>
    <header id="head">
        <h3> Krt_Send </h3>
    </header>

    <div id="text">
        <p class="text"> Envoyer votre message en tout sécurité avec send_krt.</p>
    </div>

    <div id="boite_id">
        <div>
            <p>Bienvenue sur Send_krt</p>
        </div>

        <form action="/menu/" method="POST" id="store">

            <div>

                <label for="nom">User name:</label> <br>
                <input type="text" id="user_name" name="user_name" placeholder="ex: helena@gmail.com"> <br>
                <br>
                <label for="password">Mots de pass: </label> <br>
                <input type="password" name="password" placeholder="ex: 1234">

            </div>
            
        <div>
            <br>
            <Button type="submit" name="login" value="login">Se connecter</Button> 
        </div>

        </form>
    
        
        <div>
            <br>
            <a href="#"> Mots de pass oublier</a> <br>
            <a href="http://0.0.0.0:1600/sign_up/"> Sing up</a>
        </div>

    </div>

    <script>
        var user_name = document.getElementById("user_name").value;
    </script>
</body>
</html>


