{% extends "acceuil.html" %}
{% block js %} <script  src="{{ url_for('public', path='/js/mainacc.js') }}"></script> {% endblock %} 
{% block welcom %}  {% endblock %}
               
{% block home %}<a href="http://0.0.0.0:1600/menu" class="bar" >HOME </a> {% endblock %}
{% block send %}<a href="#" class="bar" style="color: rgb(236, 112, 11);"> <u>SEND</u> </a>{% endblock %}
{%block body %}               
<form  id="stock"  action="http://0.0.0.0:1600/menu/sendmessage" method="POST" enctype="multipart/form-data">
    <div id="boite" style="color: white; margin-top:6%; margin-right:3%; width:26%;">
        <div id="title">NEW MESSAGE</div>
        <div id="dest">
            <div> 
                <input id="enterDest" type="text" name="destination" placeholder="Nom de destinataire:" style="text-align: center; background-color:rgba(255, 255, 255, 0.034); border-style:none; border-bottom:double; color:white; font-size:medium; font-weight:bold;" required> 
                <span class="validity"></span>
            </div> 
        </div>
        <div><input type="text" placeholder="objet:" style="text-align: center; background-color:rgba(255, 255, 255, 0.034); border-style:none; border-bottom:double; color:white; font-size:medium; font-weight:bold;"></div>

        <div id="message_text">
            <label for="message">Message: </label> <br>
            <div>
                <textarea name="message" id="write" cols="30" rows="8" style="resize: none;" placeholder="Votre message" required></textarea>
                <span class="validity"></span>
                <input type="file" name="file" style="padding-left:16px; text-overflow:ellipsis; width:237px;" multiple>
            </div>
        </div>
        <div id="send">
            <script>
                var user_name = username;
                var messagev = message;
            </script>
            
            <input type="submit" id="sendm" title="Envoyer"> <br>
            <input type='button' class="btn-primary" value="Annuler" style="margin-bottom:5%;border-radius: 15px;text-align:center" onclick="window.location.reload();">

        </div>
        
    </div>
</form>
{% endblock %}