
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Messages</title>
    <link href="{{ url_for('public', path='/css/style.css') }}" rel="stylesheet">
    <script  src="{{ url_for('public', path='/js/mainacc.js') }}"></script>

</head>
<body>
    <header id="head">
        <h3> Krt_Send </h3>
        <div>

        </div>
    </header>

        <form  id="stock">
            <div id="boite">
                <div id="title">NEW MESSAGE:</div>
                <div id="dest">
                    <label for="destination" class="textnormal">Envoyé à:</label><br>
                <div> 
                        <input id="enterDest" type="text" name="destination" placeholder="ex: kratos" required> 
                        <span class="validity"></span>
                    </div> 
                </div>
        
                <div id="message_text">
                    <label for="message">Message: </label> <br>
                    <div >
                        <textarea name="message" id="write" cols="30" rows="2" style="resize: none;" placeholder="Votre message" required></textarea>
                        <span class="validity"></span>
                    </div>
                </div>
                <div id="send">
                    <script>
                        var user_name = username;
                        var messagev = message;
                    </script>
                    <input type="submit" id="sendm" title="Envoyer" onclick="window.location.href='http://0.0.0.0:1600/menu/sendmessage?username='+ user_name
                    +'&destination='+destination.value +'&message='+message.value;return false;">
                </div>
                
            </div>
        </form>

   
    

    


</body>
</html>