{% extends "acceuil.html" %}
{% block js %} <script  src="{{ url_for('public', path='/js/reception.js') }}"></script> {% endblock %} 
{% block welcom %}  {% endblock %}
{% block body %}
    <script>
        var user_name = username;
    </script>

    <div id="boiterecep">
        <div style="height: 78px; padding-top: 15px;">
            {% for i in range (0,lenuser):%} 
            <ul style="list-style-type: None; display: inline;">
                <a  href="" style="color: white;">
                    <li id="exp" style="float: left; margin-left: 16px;">
                        <img src="{{ url_for('public', path='/images/login.png') }}" alt="pdp" width="50px"> <br>
                        {{nameuser[i]}}
                    </li>
                </a>
               
            </ul>
        {% endfor %} 
        </div>
    </div>
    
     
{% endblock %}  




