<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('public', path='/css/style.css') }}" rel="stylesheet">
    <style>
        #login{
            position: fixed;
            margin-left: 95%;
            margin-top: -15vh;
         }
    </style>
    <title>Reception</title>
</head>
<body>
    <header id="head">
        <h3> Krt_Send </h3>
        <span><img id="login" src="{{ url_for('public', path='/images/login.png') }}" width="30px" alt="login"></span>
    </header>
       {% for i in range (0,len):%} 
            <ul>
                <li>{{message[i]}}</li>
            </ul>
        {% endfor %}        
     
       





</body>
</html>