{% extends "acceuil.html" %}
{% block js %} <script  src="{{ url_for('public', path='/js/reception.js') }}"></script> {% endblock %} 
{% block welcom %}  {% endblock %}
{% block body %}
    <script>
        var user_name = username;
    </script>

    <div id="boiterecep">
        <div>
            {% for i in range (0,lenuser):%} 
            <ul>
                <li>{{nameuser[i]}}</li>
            </ul>
        {% endfor %} 
        </div>
    </div>
    
       {% for i in range (0,len):%} 
            <ul>
                <li>{{message[i]}}</li>
            </ul>
        {% endfor %}     
            
     
{% endblock %}  




